						<table colspacing="0" cellpadding="0" cellspacing="0">
							<tr>
								<td><a href="<% link_banner %>"><img src="<%= url_banner%>" alt="Os Melhores Imoveis da Serra Gaucha Estao Aqui"></a></td>
							</tr>
								<tr>
									<td><img src="http://imgur.com/KQhtgMy.jpg" alt=""></td>
								</tr>
						</table>