<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
      .border-width {
        border: 0 !important;
      }
      .padding-type {
        width: 65px;
      }

      .padding-dorms {
          width: 66px;
      }

      .housing-spacer {
          width: 70px !important;
      }
  
      .button-others-text {
        height: 45% !important;
      }

    </style>
    <![endif]-->
    <style>

      html, body {
        margin:0;
      }
      table, tr, td {
        border-collapse: collapse;
        mso-table-lspace:0pt; 
        mso-table-rspace:0pt;
      }
      td a {
        display:block;
        width:100%;
        height:100%;
      }
      .padding {
        font-size:0;
        line-height: 0;
      }
      .button-container {
        background-color:#212971;
      }
      .text-button {
        font-family:'Trebuchet MS';
        font-size:11px;
        text-decoration:none;
        padding: 0 24px 0 0;
        color:white;
        width:93px;
      }
      .housing1_photo, .housing2_photo {
        margin-top: -1px;
      }
      .site-url {
        font-weight: bold;
        font-size:21px;
        font-family:'Trebuchet MS';
        color:#212971;
        font
      }
      .numero-telefone {
        font-size: 23px;
        font-family: 'Trebuchet MS';
        color: #212971;
        padding-left: 0.3px;
      }
      .horario {
        font-size: 13px;
        font-family: 'Trebuchet MS';
        color:black;
      }
      img {
        display: block;
        margin: 0; 
        border: 0; 
        padding: 0;
      }
      .first-housing, .second-housing {
        border-width: 1px 0 0 0;
        border-color: #E1E1E1;
        border-style: solid;
        border-radius: 2px 2px 0 0;
      }
      .housing__others-button {
        font-family: 'Trebuchet MS';
        font-size: 14px;
      }
      .housing-type {
        text-align:center;
        font-family: 'Verdana';
        color: #6D6E70;
        font-size: 13px;
        text-transform: uppercase;
      }
      .housing-dorms {
        text-align: center;
        font-family: 'Verdana';
        color: black;
        font-size:13px;
        font-weight: bold;
      }
      #dorms-number, #vagas-number, #housing-value {
        font-size: 17px;
        font-family: 'Trebuchet MS';
        color: #3C47A3;
        font-weight: bold;
      }
      #vagas-icon-others, #dorms-icon-others {
          padding-top: 6px;
      }
      #dorms-number-others, #vagas-number-others, #housing-value-others{
        font-size: 14px;
        padding-top:10.5px;
        font-family: 'Trebuchet MS';
        color: #3C47A3;
        font-weight: bold;
      }
      td#housing-value-others {
        font-size: 15px;
        font-weight: bold;
      }
      #housing-value {
        padding-left:80px;
      }

      span.housing-description {
        font-family: 'Trebuchet MS';
        color: #6D6E70;
        font-size: 15px;
      }
      a > span#main-housing-button {
        text-decoration:none;
      }
    </style>
  </head>
<body>
  <table style="width:600px" id="all">
    <tbody>
      <!-- HEADER -->
      <tr>
        <td>
          <%= partial "partials/header"%>
        </td>
      </tr>
      <tr>
        <!-- IMOVEL PRINCIPAL -->
        <td id="main-housing">
          <%= partial "partials/banner", locals: { :url => "http://www.placehold.it/600x480" }%>
        </td>
      </tr>
      <tr id="housing-others">  
        <td>
          <%= partial "partials/housing_others"%> 
        </td>
      </tr>
        <tr>
          <td>
            <img style="width: 600px;" src="http://imgur.com/tVJy1YT.jpg" alt="Encontre seu imovel!" />
          </td>
        </tr>
        </td>
      <tr id="footer">
        <td>  
          <%= partial "partials/footer" %>
        </td>      
      </tr>
    </tbody>
  </table>
</body>  
</html>