<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>
	   html, body {
        margin:0;
    }

    table, tr, td {
      border-collapse: collapse;
      mso-table-lspace:0pt; 
      mso-table-rspace:0pt;
    }

	.site-url {
        font-weight: bold;
        font-size:21px;
        font-family:'Trebuchet MS';
        color:#212971;
      }

      .numero-telefone {
        font-size: 23px;
        font-family: 'Trebuchet MS';
        color: #212971;
        padding-left: 0.3px;
      }

		.horario {
	    font-size: 13px;
	    font-family: 'Trebuchet MS';
	    color:black;
	  }

	  .button-container {
        background-color:#212971;
      }

      td.button-container a {
        display:block;
        width:100%;
        height:100%;
      }

      .text-button {
        font-family:'Trebuchet MS';
        font-size:11px;
        text-decoration:none;
        padding: 0 24px 0 0;
        color:white;
        width:93px;
      }

	</style>
</head>

<body>
	<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>

			</td>
		</tr>
		<tr>
		<td>
			<%= partial("partials/content", locals: {
				call_title: "Muito foda",
				call_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptatem praesentium accusamus voluptate, rerum sunt vel, fugit pariatur tempore perferendis animi aut cupiditate assumenda adipisci ea at officiis ducimus quasi!",
				call_button_url: "http://www.organicadigital.com",
				call_button_text: "DESGRAÇADO"
				}) %>
		</td>
		</tr>
		<tr>
			<td>

			</td>
		</tr>
	</table>
</body>
</html>	