<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>


   html, body {
        margin:0;
    }
      table, tr, td {
        border-collapse: collapse;
        mso-table-lspace:0pt; 
        mso-table-rspace:0pt;
      }
      td.button-container a {
        display:block;
        width:100%;
        height:100%;
      }
      .padding {
        font-size:0;
        line-height: 0;
      }
      .button-container {
        background-color:#212971;
      }
      .text-button {
        font-family:'Trebuchet MS';
        font-size:11px;
        text-decoration:none;
        padding: 0 24px 0 0;
        color:white;
        width:93px;
      }
      .housing1_photo, .housing2_photo {
        margin-top: -1px;
      }
      .site-url {
        font-weight: bold;
        font-size:21px;
        font-family:'Trebuchet MS';
        color:#212971;
      }
      .numero-telefone {
        font-size: 23px;
        font-family: 'Trebuchet MS';
        color: #212971;
        padding-left: 0.3px;
      }
      .horario {
        font-size: 13px;
        font-family: 'Trebuchet MS';
        color:black;
      }
      img {
        display: block;
        margin: 0; 
        border: 0; 
        padding: 0;
      }
      .first-housing, .second-housing {
        border-width: 1px 0 0 0;
        border-color: #E1E1E1;
        border-style: solid;
        border-radius: 2px 2px 0 0;
      }
      .housing__others-button {
        font-family: 'Trebuchet MS';
        font-size: 14px;
      }
      .housing-type {
        text-align:center;
        font-family: 'Verdana';
        color: #6D6E70;
        font-size: 15px;
        text-transform: uppercase;
      }
      .housing-dorms {
        text-align: center;
        font-family: 'Verdana';
        color: black;
        font-size:15px;
        font-weight: bold;
      }
      #dorms-number, #vagas-number, #housing-value {
        font-size: 16px;
        font-family: 'Trebuchet MS';
        color: #3C47A3;
        font-weight: bold;
      }
      #vagas-icon-others, #dorms-icon-others {
          padding-top: 6px;
      }
      #dorms-number-others, #vagas-number-others, #housing-value-others,#housing-area, #alt-style {
        display:inline;
        font-size: 15px;
        padding-top:10.5px;
        font-family: 'Trebuchet MS';
        color: #3C47A3;
        font-weight: bold;
      }
      td span#housing-value-others {
        font-size: 16px;
        font-weight: bold;
      }

      span.housing-description {
        text-align:center;
        font-family: 'Trebuchet MS';
        color: #6D6E70;
        font-size: 16px;
      }
      a > span#main-housing-button {
        text-decoration:none;
      }
      
      .button-text-others {
        display: block;
        width: 100%;
        text-decoration:none;
        font-family:'Trebuchet MS';
        font-size:15px;
        color:white;
      }

      .button-others {
        text-align: center;
        vertical-align: middle;
        height:40px;
        background-color:#212971;
      }
      
      .icon-text {
        text-align: center;
      }

      .icon-vagas, .icon-dorms {
        display: inline;
      }

  
  </style>
</head>
<body>
  <table cellspacing="0" cellpadding="0" border="0" style="width:600px">
    <tr>
      <td>
        <%= partial "partials/header"%>
      </td>
    </tr>
    <tr>
      <td>
        <%= current_edition = data.edicao.first[1]
           if current_edition.banner_img.present?
            partial "partials/banner", locals: {
              url: current_edition.banner_img,
              description: current_edition.banner_description,
            }
           end  
        %>
      </td>
    </tr>
    <tr>
      <td>
        <% current_edition.imoveis.each do |housing| %>
          <%= partial "partials/housing-main", locals: {
            housing_type: housing.housing_type.value,
            housing_img: housing.housing_img,
            dorms_num: housing.dorms_num,
            vagas_num: housing.vagas_num,
            housing_area: housing.housing_area,
            housing_value: housing.housing_value,
            housing_description: housing.housing_description,
            housing_link: housing.housing_link,
          } %>
        <%end%>
      </td>
    </tr>
<!--     <tr>
  <td>
   
  </td>
</tr> -->

   <!--  <tr>
     <td style="width: 600px;">
       <table cellspacing="0" cellpadding="0" border="0" style="width: 600px;">
         <tr>
         <td>
       <img src="http://thumbit.site321.com.br/img-8b863e0918cd8fb6" alt="">
     </td>
           <td style="text-align:center">
             <% partial "partials/banner", locals: { url: "http://thumbit.site321.com.br/img-acae014304645081?thumb=600x", description: "Neste dia é momento de homenagear aquela que nos concedeu nosso primeiro e mais aconchegante lar, a Mapa do Imóvel deseja a todas as mamães um Feliz Dia das Mães."} %>
           </td>
         </tr> -->
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" style="width:100%">
         <tr>
           <td>
             <%= partial "partials/footer" %>
           </td>
         </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>