<table id="banner">
	<tr>
		<td id="alt-style" style="text-align: center;">
			<img src="<%= url %>" alt="Imobiliária em Gramado">
		</td>
	</tr>
	<% if description %>
	<tr>
		<td>
			<table>
				<tr>
					<td style="width: 15px; height: 100%;">&nbsp;</td>
					<td style="width: 570px; height: 100%; text-align:center;">
						<span class="housing-description" style="font-size: 18px;">
							<%= description %>
						</span>
					</td>
					<td style="width: 15px; height: 100%;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
	<% end %>
		<td>
			<table>
				<tr>
		<td>
			<img src="http://thumbit.site321.com.br/img-3236ae2353307b50?thumb=600x10" alt="">
		</td>
	</tr>
				<!-- <tr>
					<td style="width: 173px; height: 100%;">&nbsp;</td>
					<td class="button-main" valign="center" style="width: 250px; height: 46px; text-align:center; background-color:#212971;">
						<a href="http://www.mapadoimovel.net/apartamento-2-dorm/a201614" style="text-decoration:none; font-family:'Trebuchet MS'; font-size:14px; color:white; height:35%;">ACESSE</a>
					</td>
					<td style="width: 175px; height: 100%;">&nbsp;</td>
				</tr> -->
				<tr>	
					<td>
						<img src="http://thumbit.site321.com.br/img-3236ae2353307b50?thumb=600x30" alt="">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>