<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td width="30" class="em_hide"></td>
                      <td><table width="319" border="0" cellspacing="0" cellpadding="0" align="right" class="em_wrapper" style="border:none;mso-border-right-alt:solid #ffffff .5pt; border-collapse:collapse;">
                          <tbody><tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody><tr>
                                  <td><a href="#" target="_blank"><img src="http://www.emailonacid.com/images/emails/emailmonks1/imf_319px.png" alt="Image" width="100%" style="display:block;" border="0"></a></td>
                                </tr>
                              </tbody></table></td>
                          </tr>
                        </tbody></table>
                        <table width="266" border="0" cellspacing="0" cellpadding="0" align="left" class="em_wrapper">
                          <tbody><tr>
                            <td class="em_pad_top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                  <td class="em_side_space"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody><tr>
                                        <td height="40" class="em_hide">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td style="font-family:Arial, sans-serif;font-size:20px;text-align:left;color:#ffffff;background-color:#82b800;line-height:23px;"><%= call_title %></td>
                                      </tr>
                                      <tr>
                                        <td height="16" style="line-height:1px;font-size:1px;">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td style="font-family:Arial, sans-serif;font-size:13px;text-align:left;color:#ffffff;background-color:#82b800;line-height:20px;">
                                        	<%= call_description %>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="28"></td>
                                      </tr>
                                      <tr>
                                        <td><table width="201" border="0" cellspacing="0" cellpadding="0" align="left" class="em_wrapper">
                                            <tbody><tr>
                                              <td class="em_pad_btm"><table width="201" border="0" cellspacing="0" cellpadding="0" align="left">
                                                  <tbody><tr>
                                                    <td class="em_white_link" valign="middle" bgcolor="#74a303" height="43" style="font-family:Arial, sans-serif;font-size:16px;text-align:center;border-radius:4px;color:#ffffff;letter-spacing:1px;text-transform:uppercase;"><a href="<%= call_button_url %>" target="_blank" style="text-decoration:none;color:#ffffff;display:block;"><%= call_button_text %></a></td>
                                                  </tr>
                                                </tbody></table></td>
                                            </tr>
                                          </tbody></table></td>
                                      </tr>
                                    </tbody></table></td>
                                </tr>
                              </tbody></table></td>
                          </tr>
                        </tbody></table></td>
                    </tr>
                  </tbody></table>