<table>
  <tr>
    <td>
      <table id="site">
        <tr>
          <td>
            <table>
              <tr>
                <td class="padding" style="width: 30px; height: 100%;">&nbsp;</td>
                <td class="site-url">
                  <a href="http://www.imobiliariaemgramado.com.br" class="site-url" style="text-decoration:none;">www.mapadoimovel.net</a>
                </td>
                <td class="padding" style="width: 65px; height: 20px;">&nbsp;</td>
                <td id="telefone">
                  <table>
                    <tr>
                      <td style="width: 40px; height: 25px;">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>
                        <img style="display:block;" src="http://imgur.com/h082Lb7.jpg" alt="" />
                      </td>
                      <td valign="top">
                        <a class="numero-telefone" href="tel:05432951878" style="text-decoration:none;">(54) 3295.1878</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 40px; height: 1px; font-size:1px; line-height:1px;">&nbsp;</td>
                      <td>
                        <span class="horario">Diariamente das 9h às 19h.</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <tr class="padding">
              <td style="width: 100%; height: 30px; background-color:white;">&nbsp;</td>
            </tr>
          <td class="padding" style="width: 600px; height: 20px;">&nbsp;</td>
        </tr>
        <tr id="links">
          <td>
            <table style="width:600px;">
              <tr>
                <td class="padding" style="width: 600px; height: 25px; background-color:#212971; border-radius:3px 3px 0 0;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0;">
                  <table style="width:100%;">
                    <tr>
                      <td class="padding" style="width: 148px; height: 100%; background-color:#212971;"></td>
                      <td class="button-container"><a class="text-button" href="http://www.imobiliariaemgramado.com.br/imobiliaria-em-gramado-e-canela"><span>SOBRE NÓS</span></a> </td>
                      <td class="button-container"><a class="text-button" href="http://www.imobiliariaemgramado.com.br/lancamentos/"><span>MAIS IMÓVEIS</span></a></td>
                      <td class="button-container"><a class="text-button" href="http://www.imobiliariaemgramado.com.br/venda-seu-imovel/"><span>VENDA SEU IMÓVEL</span></a></td>
                      <td class="button-container"><a class="text-button" href="http://www.imobiliariaemgramado.com.br/fale-conosco/"><span>FALE CONOSCO</span></a></td>
                      <td class="padding" style="width: 113px; height: 100%; background-color: #212971;">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="padding" style="width: 600px; height: 25px; border-radius:0 0 3px 3px; background-color:#212971;">&nbsp;</td>
              </tr>
            </table>
          </td>            
        </tr>
        <tr id="img-bottom">
          <td style="width: 591px;">
            <img src="http://imgur.com/iMOEFne.jpg" alt="Mapa do Imóvel" style="width: 600px;" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

            