<table style="width: 600px; height: 100%;" cellpadding="0" cellspacing="0">
  <tr>
  	<td style="width: 10px; height: 100%;" width="10; font-size:1px; line-height:1px;">&nbsp;</td>
  	<td id="alt-style" style="text-align: center; font-size:20px;">
    <a href="http://www.imobiliariaemgramado.com.br" title="Conheça nosso site!">
   		<img style="width: 600px;" src="http://thumbit.site321.com.br/img-ce5b426f30f16330?thumb=600x" alt="Confira as novidades da Mapa do Imóvel." />
    </a>
  	</td>
  </tr>
</table>