
<!-- START ITEM IMOVEL -->

<table style="width:250px; border-style:solid; border-color:#FFFFFF; border-width:1px;" cellspacing="0" cellpadding="0">
  <tr>
    <td class="housing-type"><%= housing_type %></td>
  </tr>
  <tr>
    <td class="housing-dorms">
    <%= if housing_type.downcase != "terreno" then 
          housing_dorms != 1 ? "#{housing_dorms} DORMITÓRIOS" : "#{housing_dorms} DORMITÓRIO";  
        else housing_district 
        end%> 
    </td>
  </tr>
  <tr>
    <td style="width:250px; height:10px; "><img src="http://thumbit.site321.com.br/img-526216cb52da3abf.jpg" alt="">
    </td>
  </tr>
  <tr>
    <td>
      <img src="<%= housing_img %>" alt="<%=  terreno?(housing_type) ? "#{housing_type} - #{housing_district}" : "#{housing_type} - #{dorms_plural(housing_dorms)} "%>" style="display: inline;">
    </td>
  </tr>
  <tr>
    <td style="width:250px; height:10px; "><img src="http://thumbit.site321.com.br/img-526216cb52da3abf.jpg" alt="">
    </td>
  </tr>
  <tr>
    <td>
      <table style="width:250px; text-align:center; height:20px;" valign="middle">
        <%= if terreno?(housing_type) 
              "<tr>
                <td style=\"text-align: center;\">
                  <span id=\"housing-area\"> #{housing_area}</span>
                </td>
              </tr>"
            else 
              partial("partials/housing_info", locals: {
               housing_dorms: housing_dorms,
               housing_vagas: housing_vagas,
               housing_area: housing_area
              }) 
            end %>
      </table>
    </td>
  </tr>
  <tr>
    <td style="width:250px; height:10px; "><img src="http://thumbit.site321.com.br/img-526216cb52da3abf.jpg" alt="">
    </td>
  </tr>
  <tr>
    <td class="housing-description" style="text-align:center;">
      <span class="housing-description"><%= housing_description %></span>
    </td>
  </tr>
  <tr>
    <td style="width:250px; height:10px; "><img src="http://thumbit.site321.com.br/img-526216cb52da3abf.jpg" alt="">
    </td>
  </tr>
  <tr>
    <td style="text-align: center;"><span id="housing-value-others"><%= housing_price %></span></td>
  </tr>
  <tr>
    <td height="10px">&nbsp;</td>
  </tr>
  <tr>
    <td class="button-others">
      <a class="button-text-others" href="<%= housing_link %>">MAIS DETALHES</a>
    </td>
  </tr>
</table>
<!-- END ITEM IMOVEL -->