<tr>
  <td class="icon-text"> 
    <img src="http://imgur.com/vx8zNeK.jpg" alt="" class="icon-dorms">
    <span id="dorms-number">
      <%= housing_dorms %>
    </span>
  </td>
  <td>
    <span>|</span>
  </td>
  <td class="icon-text"> 
    <img class="icon-vagas" src="http://imgur.com/I2MlIEz.jpg"  alt="" >
    <span id="vagas-number"> <%= housing_vagas%> </span>
  </td>
  <td>|</td>
  <td id="vagas-number"> <%= housing_area %> </td>
</tr>