<table>
	<tr>
		<td>
			<a href="<%= housing_link %>">
				<img class="img-main" src="<%= housing_img %>" alt="<%= "Foto Imóvel" %>" style="border-radius:3px 3px 0 0; width:600px;">
			</a>
		</td>
	</tr>
	<tr>
		<td style="width: 100%; height: 25px; background-color:white;">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table width="580px" style="width:580px;">
				<tr>
					<td class="padding-left" style="width: 64px; height: 100%;">&nbsp;</td>
					<% unless (terreno? housing_type or loja? housing_type) %>
          	<% if dorms_num %>
							<td id="dorms-icon"><img src="http://imgur.com/4Zz5S9m.jpg" alt="">&nbsp;</td>
							<td valign="middle" id="dorms-number" style="padding-top:3px; padding-left:10px;"><%= dorms_num %></td>
							<td id="dorms-separator" valign="center"><img style="padding-bottom:17px;" src="http://imgur.com/sI5X9Jv.jpg" alt="|"></td>
          	<% end %>
	        <% end %>	
            <% if vagas_num != nil && vagas_num != 0 %>
              <td id="dorms-icon" <%= 'width="76" align="right"' if loja? housing_type %>><img src="http://imgur.com/QcpbXvg.jpg" alt="">&nbsp;</td>
              <td valign="middle" id="vagas-number" style="padding-top:3px; padding-left:10px;"><%= vagas_num %></td>
              <td id="dorms-separator" valign="center"><img style="padding-bottom:17px;" src="http://imgur.com/m6NrotQ.jpg" alt="|"></td>
            <%end%>
					<td valign="middle" id="vagas-number" style="padding-top:3px; color:#3C47A3; width:121px;" <%= "align='center'" if terreno? housing_type  %> <%= "align='left'" if !terreno? housing_type  %>><%= housing_area %></td>
					<td id="housing-value" width="160px" style="padding-bottom:25px; padding-left:55px; color:#3C47A3;" <%= 'align="center"' if terreno? housing_type %>><span><%= housing_value %></span></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td style="width: 15px; height: 100%;">&nbsp;</td>
					<td style="width: 570px; height: 100%; text-align:center;">
						<span class="housing-description"><%= housing_description %>
						</span>
					</td>
					<td style="width: 15px; height: 100%;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td style="width: 100%; height: 20px;">&nbsp;</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td style="width: 173px; height: 100%;">&nbsp;</td>
								<td class="button-main" valign="center" style="width: 250px; height: 46px; text-align:center; background-color:#212971;">
									<a href="<%= housing_link %>" style="text-decoration:none; font-family:'Trebuchet MS'; font-size:16px; color:white; height:35%;">MAIS DETALHES</a>
								</td>
								<td style="width: 175px; height: 100%;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="width: 100%; height: 25px; background-color:white;">&nbsp;</td>
	</tr>
</table>