<table cellspacing="0" cellpadding="0" border="0" style="">
  <tbody>
    <tr>
      <td class="padding">
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td style=" height: 20px; background-color:white;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td id="housing-types" style="background-color:white;" valign="top">
        <table class="housing">
          <tr>
            <td style="width: 7px;">&nbsp;</td>
            <td class="border-width" style="border-width:2px 2px 0px 2px; border-style:solid; border-radius:2px 2px 0 0; border-color:#E1E1E1; width:245px;">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr class="padding" style="height: 15px;">
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="padding-type" style="width: 55px;">&nbsp;</td>
                  <td class="housing-type" style="width: 125px;">
                    <%= housing_type_1 %>
                  </td>
                  <td class="padding" style="width: 45px;">&nbsp;</td>
                </tr>
              </table>
            </td>
            <td class="housing-spacer" style="width: 53px;">&nbsp;</td>
            <td class="border-width" style="border-width:2px 2px 0px 2px; border-style:solid; border-radius:2px 2px 0 0; border-color:#E1E1E1; width:245px;">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr class="padding" style="height: 15px;">
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td class="padding-type" style="width: 55px;">&nbsp;</td>
                  <td class="housing-type" style="width: 125px;">
                    <%= housing_type_2 %>
                  </td>
                  <td class="padding" style="width: 45px;">&nbsp;</td> 
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td style="width: 7px;">&nbsp;</td>
            <td class="border-width padding-dorms" style="width: 56px; border-width:0 0 0 2px; border-style:solid; border-color:#E1E1E1;">&nbsp;</td>
            <td><span class="housing-dorms"><%= dorms_plural(dorms_num_1) %>&nbsp;&nbsp;</span></td>
            <td class="border-width" style="width: 64px; border-width:0 2px 0 0; border-style:solid; border-color:#E1E1E1;">&nbsp;</td>
            <td class="housing-spacer" style="width: 53px;">&nbsp;</td>
            <td class="border-width padding-dorms" style="width: 56px; border-width:0 0 0 2px; border-style:solid; border-color:#E1E1E1;">&nbsp;</td>
            <td><span class="housing-dorms"><%= dorms_plural(dorms_num_2) %></span></td>
            <td class="border-width" style="width: 64px; border-width:0 2px 0 0; border-style:solid; border-color:#E1E1E1;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <table cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td style="width: 10px;"></td>
          <td>
            <img class="housing1_photo" style="width: 250px;" src="<%= housing_img_1 %>" alt="Foto Imóvel">
          </td>
          <td style="width: 54px;">&nbsp;</td>
          <td>
            <img class="housing2_photo" style="width: 250px;" src="<%= housing_img_2 %>" alt="identifier_2">
          </td>
        </tr>
        <tr>
          <%= partial 'partials/info_others.html.erb', 
          locals: {
            housing1_dorms: "1",
            housing1_vagas: "1",
            housing1_area: "40.00m²", 
            housing1_price: "R$ 230.000,00",
            housing1_description: "Excelente apartamento semi mobiliado, bem distribuído em 1 suíte, estar, cozinha integrada com jantar, lavanderia, água quente instalada e espera para calefação, garagem.
              Edifício com elevador, portão eletrônico, salão de festas mobiliado e equipado e lindo jardim.",
            housing1_link: "http://www.mapadoimovel.net/apartamento-1-dorm/a102685",
            housing2_dorms: "1",
            housing2_vagas: "1",
            housing2_area: "118.29m²",
            housing2_price: "R$ 679.000,00",
            housing2_description: "Borges de Medeiros.
            Excelente apartamento, totalmente mobiliado e equipado, bem distribuído em 2 dormitórios, sendo um suíte, living três ambientes com lareira e churrasqueira, cozinha americana com bancada, banho social, água quente e calefação instaladas e vaga de garagem.Condomínio com total infraestrutura de lazer!",
              housing2_link: "http://www.mapadoimovel.net/apartamento-2-dorm/a202756"
              }%>


