<table>
	<tr>
		<td>
			<table>
				<tr>
					<td class="padding-left" style="width: 33px;">&nbsp;</td>
						<% if housing1_dorms != 0 || housing1_dorms != "" %>
							<td>
								<img id="dorms-icon-others" src="http://imgur.com/vx8zNeK.jpg" alt="">&nbsp;
							</td>
							<td valign="top" id="dorms-number-others" style="padding-top:8.5px; padding-left:5px;">
								<%= housing1_dorms %>
							</td>
							<td id="dorms-separator" valign="center">
								<img style="padding-bottom:6.5px;" src="http://imgur.com/iNMpvaP.jpg" alt="|">
							</td>
						<% end %>
						<% if housing1_vagas %>
							<td>
								<img id="vagas-icon-others" src="http://imgur.com/I2MlIEz.jpg" alt="">&nbsp;
							</td>
							<td valign="top" id="vagas-number-others" style="padding-top:8.5px; padding-left:5px;">
								<%= housing1_vagas != 0 || housing1_dorms != "" %>
							</td>
							<td id="dorms-separator" valign="center">
								<img style="padding-bottom:6.5px;" src="http://imgur.com/iNMpvaP.jpg" alt="|">
							</td>
						<% end %>
						<td valign="top" id="vagas-number-others" style="padding-top:8.5px;">
							<%= housing1_area %>
						</td>
						<td style="width: 50px;">&nbsp;</td>
						<td class="padding-left" style="width: 60px;">&nbsp;</td>
						<td id="dorms-icon-others">
							<img src="http://imgur.com/vx8zNeK.jpg" alt="" style="padding-top:3px">&nbsp;
						</td>
						<td valign="top" id="dorms-number-others" style="padding-top:8.5px; padding-left:5px;">
							<%= housing2_dorms %>
						</td>
					<td id="dorms-separator" valign="center">
						<img style="padding-bottom:6.5px;" src="http://imgur.com/iNMpvaP.jpg" alt="|">
					</td>
					<td id="vagas-icon-others"><img src="http://imgur.com/I2MlIEz.jpg" alt="">&nbsp;</td>
					<td valign="top" id="vagas-number-others" style="padding-top:8.5px; padding-left:5px;">
						<%= housing2_vagas %>
					</td>
					<td id="dorms-separator" valign="center"><img style="padding-bottom:6.5px;" src="http://imgur.com/iNMpvaP.jpg" alt="|"></td>
					<td valign="top" id="vagas-number-others" style="padding-top:8.5px; color:#3C47A3;"><%= housing2_area %></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td style="width: 6.5px;">&nbsp;</td>
					<td style="width: 250px;text-align:center; vertical-align:top;">
						<span class="housing-description">
							<%= housing1_description %>
						</span>
					</td>
					<td style="width: 50px;">
						&nbsp;
					</td>
					<td style="width: 250px; text-align:center;">
						<span class="housing-description">
						<%= housing2_description %>
						</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td style="width: 37px;">&nbsp;</td>
					<td id="housing-value-others" style="width: 176px;text-align:center; vertical-align:top;">
						<%= housing1_price %>
					</td>
					<td style="width: 127px;">&nbsp;</td>
					<td id="housing-value-others" style="width: 176px; text-align:center; vertical-align:top;">
						<%= housing2_price %>
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td style=" height: 10px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<table style="padding-top:10px">
						<tr>
							<td style="width: 11px;">&nbsp;</td>
							<td class="button-main button-others" valign="center" style="width: 250px; height: 38px; text-align:center; background-color:#212971;">
							<aclass="button-others-text"  href="<%= housing1_link%>" style="text-decoration:none; font-family:'Trebuchet MS'; font-size:14px; color:white; height:35%;">
								MAIS DETALHES
							</a>
							</td>
							<td style="width: 42px;">&nbsp;</td>
							<td style="width: 7px;">&nbsp;</td>
							<td class="button-main button-others" valign="center" style="width: 250px; height: 38px; text-align:center; background-color:#212971;">
							<a class="button-others-text" href="<%= housing2_link %>" style="text-decoration:none; font-family:'Trebuchet MS'; font-size:14px; color:white; height:35%;">
								MAIS DETALHES
							</a>
						</td>
						</tr>
					</table>
				</tr>
			</table>
		</td>
	</tr>
